body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-nav {
  list-style: none;
  cursor: pointer;
}

header {
  display: block;
}

header.active {
  display: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 12px;
  border: solid 2px black;
  column-gap: 20px;
}

.logo {
  margin-left: 5%;
  animation-name: growth;
  animation-duration: 3s;
  font-size: 24px;
}

@keyframes growth {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.ul-nav {
  display: flex;
  margin-right: 8%;
  justify-content: space-between;
  column-gap: 10px;
  padding-left: 0px;
}

.nav-items2 {
  border-left: solid 2px blue;
  border-right: solid 2px blue;
  padding: 0 10px;
}

.date {
  width: 90%;
}

.date p {
  text-align: right;
}

.book-shelf {
  border: solid 2px black;
  flex-direction: column;
  width: 80%;
  display: flex;
  position: relative;
  margin-bottom: 24px;
  min-height: 340px;
}

.book-shelf.active {
  display: none;
}

.book-shelf > * {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
}

.book-shelf > *:nth-child(odd) {
  background-color: rgb(177, 161, 161);
}

.book-shelf > * h2 {
  font-size: 14px;
}

.line {
  height: 2px;
  background-color: black;
  width: 40%;
}

.user-input {
  flex-direction: column;
  max-width: 300px;
  gap: 12px;
  margin-top: 100px;
  display: none;
  align-items: center;
  margin-bottom: 100px;
  min-height: 250px;
}

.user-input.active {
  display: flex;
}

.add-btn {
  width: 25%;
  align-self: flex-end;
}

.msga {
  color: red;
  display: none;
}

.msga.active {
  display: block;
}

.msgb {
  color: red;
  display: none;
}

.msgb.active {
  display: block;
}

.msgc{
  color: green;
  display: none;
}

.msgc.active{
  display: block;
  
}

.contact {
  margin-top: 100px;
  display: none;
  margin-bottom: 160px;
}

.contact.active {
  display: block;
}

.contact h1 {
  text-align: center;
}

.copyright {
  width: 90%;
  margin: 12px;
  border: solid 2px black;
  justify-self: flex-end;
  margin-top: auto;
}

.copyright p {
  padding-left: 50px;
}
